* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

header {
    background-color: green;
    width: 100%;
}

header nav {
    width: 100%;
    background-color: lightgreen;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

header nav figure {
    width: 60px;
    height: 60px;
    
}

header nav figure img {
    width: 60px;
    height: 100%;
}

header nav ul {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}

header nav ul li {
    background-color: lightgrey;
    padding: 0.5rem 0px;
    margin: 0.5rem;
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.3);
    border-radius: 0.4rem;
    -webkit-border-radius: 0.4rem;
    -moz-border-radius: 0.4rem;
    -ms-border-radius: 0.4rem;
    -o-border-radius: 0.4rem;
}

header a {
    text-decoration: none;
}


.main-inicio {
    background-color: lightblue;
    height: 20vh;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.main-inicio__title {
    position: relative;
    top: 2rem;
}

.main-inicio p {
   width: 100%;
   margin: 0 auto;
   text-align: center;
}

.main-galeria {
    width: 100%;
    height: 80vh;
    background-color: bisque;
}

.main-servicios {
    width: 100%;
    height: 60vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    background-color: lightskyblue;
}

.main-servicios ul {
    list-style: none;
}

.main-ubicacion {
    display: flex;
    flex-wrap: wrap ;
    align-items: center;
    justify-content: center;
    background-color: lightslategrey;
    height: 60vh;
}

.main-ubicacion h2 {
    width: 100%;
    text-align: center;
}

.main-contacto {
    display: flex;
    flex-wrap: wrap ;
    align-items: center;
    justify-content: center;
    background-color: lightsteelblue;
    height: 60vh;
}

footer {
    display: flex;
    flex-wrap: wrap ;
    align-items: center;
    justify-content: center;
    background-color: rgb(17, 20, 23);
    height: 40vh;
}


